<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tess.id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @tess.value %>
</p>

<%= link_to 'Edit', edit_tess_path(@tess) %> |
<%= link_to 'Back', tesses_path %>
